form {
  height: 100vh;
}

.formItens {
  margin-bottom: 25px;
}

.formItens label {
  display: block;
  margin-bottom: 10px;
}

.formItens input {
  width: 100%;
  padding: 10px;
  height: 25px;
  border-radius: 25px;
  border: darkgray solid 1px;
}

.formItens textarea {
  width: 100%;
  padding-left: 10px;
  padding-top: 15px;
  border-radius: 25px;
}

.submitBtn {
  width: 300px;
  border-radius: 25px;
  height: 50px;
  border: none;
}
